html{
    height: 100%;
    
}


body{
    background-image: url(sutr.svg);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 1px;
    font-family: 'averta';
    min-height: 100vh;
    text-align: center;
    padding: 100px;
    
}
.centrer{
    background: linear-gradient(to right, #ed4264, #ffedbc);  
    width: 90%;
    padding: 20px;
    
}

.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}


.hidden{
    display: none;
}


.contain{
    max-width:95%;
    margin: 0px auto;
}

.quz{
height: 7rem;
border-radius: 8px;
text-align: center;  
text-decoration: none;
color: black;
box-shadow: 0.2rem 0.5rem 0.4rem rgba(0, 0, 0, 0.336);
border: solid 1px black;
padding-top: 12%;
margin: 0.5rem;
 }


.card{

height: 8rem;

}


.card-content{
    vertical-align: middle;display: flex;
align-items: center;


}
#oui{
margin-top: 20px;
background: linear-gradient(to right, #b2fefa, #0ed2f7);
}


#non{
margin-top: 20px;
background: linear-gradient(to right, #3494e6, #ec6ead);
}


#resou{
height: 8rem;
background: #ffffff;
border-radius: 8px ;
text-align: center;
vertical-align: middle;
margin: 40px;
padding-top: 2%;
}


#verifie {
    background: linear-gradient(to right, #076585, #fff);
}


#clear{
    background: linear-gradient(to right, #ffe000, #799f0c);
}


@font-face {
font-family: 'averta';
src: url('averta.ttf');
}


@font-face {
font-family:'squarial';
src: url('squarial.ttf');
}